<div class="container">
  <div class="content">
    <div class="title" (click)="home()">
      <img src="./assets/images/logo.png" alt="">
      <div class="tit">
        <p>E-cycle Solution</p>
      </div>
    </div>
    <div class="div1" *ngIf="user.email">
      <div class="notification">
        <mat-icon (click)="showNotify()">notifications</mat-icon>
        <span>{{notifications.count||0}}</span>
      </div>
      <hr>
      <div class="profile">
        <div class="pic">
          <img [src]="user.profile==null||user.profile==''?'./assets/images/profile_pic.png':user.profile" alt="">
        </div>
        <div class="detail">
          <p class="p1">
            {{user.name}}
          </p>
          <p class="p2">
            {{user.role}}
          </p>
        </div>
      </div>
      <div class="logout">
        <mat-icon (click)="logout()">logout</mat-icon>
      </div>
    </div>
    <div class="abc"*ngIf="show" >
      <div class="close" (click)="showNotify()">
        <mat-icon>close</mat-icon>
      </div>
    <app-notification ></app-notification>
    </div>
  </div>
</div>
