<div class="container">
  <div class="content">
    <app-title title="Time Sheet" sub_title="Track your time and manage projects efficiently"></app-title>
    <app-timesheet-base-nav></app-timesheet-base-nav>
    <div class="div1">
    <button (click)="previousWeek()">prev</button>
      <div class="p1">
        {{dateRange}}
      </div>
      <button (click)="nextWeek()">next</button>
    </div>
    <div class="div2">
      <div class="div3" *ngFor="let date of weekdays">
        <div class="sub-header">
          <p class="p2">{{formateDate(date)}}</p>

          <p class="p3">0 hrs</p>
        </div>
      </div>

    </div>
  </div>
</div>
