<div class="container">
  <div class="content">
    <app-title title="Time Sheet" sub_title="Track your time and manage projects efficiently"></app-title>
    <app-timesheet-base-nav></app-timesheet-base-nav>
      <div class="div1">
        <div class="sub1">
          <app-title sub_title="Today's Hours"></app-title>
          <div class="sDiv1 red">{{ weekHour | number:'1.0-1' }}hr</div>
        </div>
        <div class="sub1">
          <app-title sub_title="This Week"></app-title>
     <div class="sDiv1 green">{{ todayHour | number:'1.0-1' }} hr</div>


        </div>
        <div class="sub1">
          <app-title sub_title="Assigned project"></app-title>
          <div class="sDiv1 blue">{{assignedTask}}</div>

        </div>
      </div>
      <div class="div2">
        <div class="start-work">
          <app-title h3_title="Timer Entry"></app-title>
          <form [formGroup]="timeSheetForm" (ngSubmit)="add()">
            <div class="input">
              <div class="lab">
                Project
              </div>
              <div class="intp">
                <select formControlName="project" (change)="change()">
                  <option value="" selected>Select Project</option>
                  <option *ngFor="let pro of project" value="{{pro.id}}" >{{pro.project_name}}</option>
                </select>
              </div>
            </div>
             <div class="input">
              <div class="lab">
                Task
              </div>
              <div class="intp">
                <select formControlName="task">
                  <option value="" selected>Select task</option>
                  <option *ngFor="let x of task" value="{{x.id}}" >{{x.task}}</option>

                </select>
              </div>
            </div>
             <div class="input">
              <div class="lab">
                Description
              </div>
              <div class="intp">
                <textarea placeholder="Describe about task.." formControlName="describe" rows="4" cols="20"></textarea>
              </div>
            </div>
             <div class="input">
              <div class="lab">
                Date
              </div>
              <div class="intp">
               <input type="date" [max]="today" formControlName="date">
              </div>
            </div>
            <div class="div3">
          <div class="input">
              <div class="lab">
                Start Time
              </div>
              <div class="intp">
               <input type="time" formControlName="start_time">
              </div>
            </div>
            <div class="input">
              <div class="lab">
                End Time
              </div>
              <div class="intp">
               <input type="time" formControlName="end_time">
              </div>
            </div>
        </div>
        <div class="div4">
          <input type="submit" value="Add" >
        </div>
          </form>
        </div>

        <div class="recent-work">
          <app-title h3_title="Recent Work" sub_title="see your recent work"></app-title>
          <app-recent-works *ngFor="let x of resentTimeSheet" [project_name]="x.project_name" [task_name]="x.task_name" [start_time]="x.start_time" [end_time]="x.end_time" [hr]="x.total_hours.toString()" ></app-recent-works>
          <div>
          </div>
        </div>
      </div>
  </div>
</div>
