.container{
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: #eff6f9;
  overflow: hidden;
}

.content{
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.sub-nav{
  max-width: 450px;
  margin-top: 1rem;
  margin-left: .5rem;
  display: flex;
  justify-content: center;
}
.sub-nav>ul{
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub-nav>ul>li{
  border: 2px solid lightgray;
  border-radius: 1rem;
  padding:.5rem 1rem;
  cursor: pointer;
  background-color: #fff;
  list-style: none;
}
.sub-nav>ul>li>a{
  padding: 1rem .5rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;

}
.sub-nav>ul>li>a>mat-icon{
  margin-right: 1;
}
.sub-nav>ul>li:hover{
  background-color: #000;
  color: #fff;
}
.sub-nav>ul>li:hover>a{
  color: #fff;
}
.div1{
display: flex;
justify-content: space-around;
margin: 0 1rem;
padding: 1rem;
}

.sub1{
  width: 25rem;
  height: 8rem;
  box-shadow: 0px 0px 15px 2px lightgray;
  background-color: white;
  border-radius: .5rem;
  padding: 1rem;
}
.sDiv1{
  margin-left: 1.5rem;
  margin-top: .5rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.red{
  color:rgb(252, 71, 71);
}
.green{
  color: rgb(71, 252, 71);
}
.blue{
  color:rgb(71,71,252)
}
.div2{
  display: flex;
  justify-content:space-between;
  margin: .5rem 1rem;
  flex-wrap: wrap;
}
.start-work{
  width: 45%;
  height: 500px;
  background-color: #fff;
  box-shadow:  0px 0px 15px 2px lightgray;
  border-radius: .4rem;
  overflow-y:scroll ;
  margin: .3rem;
  overflow-x: hidden;
}
.input{
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin:.5rem 1rem ;
  width: 100%;
}
.lab{
  font-size: 1.1rem;
  font-weight: 300;
  padding-left:.9rem ;
}
.intp>input,.intp>textarea,.intp>select{
font-size: 1.1rem;
padding: .5rem;
width: 80%;
margin: .2rem .7rem;

}.div3{
  display: flex;
}
.recent-work{
  width: 45%;
  background-color: #fff;
  box-shadow:  0px 0px 15px 2px lightgray;
  border-radius: .4rem;
  min-height: 100px;
  max-height: 400px;
  overflow-x:hidden;
  overflow-y:scroll;

}
.div4{
  display: flex;
  justify-content: center;
  align-items: center;
}
.div4>input{
  width: 7rem;
  height: 3rem;
  border-radius: .4rem;
  background-color:#000;
    color:  blanchedalmond;
  box-shadow:  0px 0px 15px 2px lightgray;
  border-color: #eff6f9;
  font-weight: 500;
  transform: scale(1.1);
}
.div4>input:hover{
  transform: scale(1);
}
.recent-work::-webkit-scrollbar{
width: 0;
}
.recent-work{
  padding: .3rem;
}
.start-work{
  padding: .3rem;
}




@media (max-width:1296px) {
.sub1{
   width: 20rem;
  height: 9rem;
}
}
@media (max-width:1047px) {
  .sub1{
   width: 14rem;
  height: 7rem;
}
}

.start-work::-webkit-scrollbar,
.content::-webkit-scrollbar{
  width: 0;
}
